<nav>
    <div class="logo">
        <i class="material-icons" title="Venturus Sports">
            directions_run
        </i>
    </div>
    <div class="nav-list">
        <ul>
            <li>Renan
                <a href="#" title="Renan Rodrigues Ramos">
                    <i class="material-icons">
                        keyboard_arrow_down
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="breadcrumb">
    <div class="breadcrumb-itens">
        Home
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a href="#">
            Page Name
        </a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a href="#">
            Breadcrumb
        </a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a href="#">
            Current page
        </a>
    </div>
</div>
    <user-table></user-table>
<section>
    <h1>Registration</h1>
    <div class="registration">
        <div class="col">
            <h3>Need help?</h3>
            <div class="content">
                <i class="material-icons">help_outline</i>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida mauris orci, eu efficitur orci
                imperdiet a. Sed eu risus dolor. Aliquam convallis pulvinar mattis. Mauris sed aliquam sem, quis commodo
                dui.
            </div>
        </div>
        <div class="col">
            <h3>Why register?</h3>
            <div class="content">
                <i class="material-icons">assignment_ind</i>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida mauris orci, eu efficitur orci
                imperdiet a. Sed eu risus dolor. Aliquam convallis pulvinar mattis. Mauris sed aliquam sem, quis commodo
                dui.
            </div>
        </div>
        <div class="col">
            <h3>What people are saying...</h3>
            <div class="content">
                <i class="material-icons">sentiment_very_satisfied</i>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida mauris orci, eu efficitur orci
                imperdiet a. Sed eu risus dolor. Aliquam convallis pulvinar mattis. Mauris sed aliquam sem, quis commodo
                dui.
            </div>
        </div>
    </div>
</section>
<user-form></user-form>