section{
    margin-top: 50px;
}

.form-new-user{
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
}

.form-group,
.input-group{
    margin-top: 50px;
}

.input-group label{
    margin-bottom: 10px;
}

.input-group input[type="text"], 
input[type="email"]{
    width: 100%;
    padding: 8px 80px 8px 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.radio-button-group{    
    float: left;
    width: auto;
}

.radio-button-group label{
    margin-right: 25px;
}

.input-checkbox-group{
    float: left;
    width: auto;
}

.input-checkbox-group label{
    margin-right: 25px;
}

.button-group{    
    text-align: center;
    margin-top: 50px;
    bottom: 0;
}

.btn{
    cursor: pointer;
    font-size: 18px;    
    padding: 10px 38px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    margin: 0px 30px;
    box-shadow: 3px 5px;
}

.btn-confirm{
    background-color: rgba(22, 156, 22, 0.918);
}

.btn-confirm:hover{
    background-color: rgba(69, 202, 69, 0.918);
}

.btn-cancel{
    background-color: rgba(128, 126, 126, 0.822);
}

.btn-cancel:hover{
    background-color: rgba(172, 168, 168, 0.822);
}

input:valid{
    border: 1px thin;
}

input:invalid{    
    border: 2px solid rgba(235, 88, 88, 0.918);
}

@media only screen and (max-width: 600px){
    section{
        margin: 50px 30px;
    }

    .form-new-user{
        margin: 0 auto;
        display: block;
    }   

    .form-group{
        margin-top: 0px;
        text-align: justify;
    }

    .input-group{
        margin-top: 15px;
    }

    .input-group 
     input[type="text"],
     input[type="email"]{        
        width: 80%;
        margin-top: 10px;
        padding: 8px 80px 8px 5px;
        border-radius: 3px;
        border: 1px solid #ddd;
    }

    .input-checkbox-group{
        display: block;
        width: 100px;
    }

    .button-group{
        margin-left: 0px;
        margin-top: 100px;
        text-align: center;
    }
}